/* Screen sizes */

$screen_max: 2560px;
$screen_min: 360px;

/* Media sizes */

$desktop_lg_min: 1025px;
$desktop_max: 1024px;
$desktop_min: 769px;
$tablet_max: 768px;
$tablet_min: 361px;
$mobile: 360px;

/* Components sizes */

$container_max: 1170px;
$grid_gap: 30px;
$grid_gap_mob: 15px;